*:not(iframe){
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 1fr 1fr 10%;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.title{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
}

.player-div{
    display: grid;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: grid;
    width: 25vw;
    height: 25vw;
    background-color: aqua;
    grid-auto-rows: 10%;
    border-radius: 20px;
    border: 5px solid #e6e6e6;
}

.row{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.gameboard-square{
    display: grid;
    border-color: black;
    border-width: 1px;
    border: 3px solid #e6e6e6;
    border-radius: 3px;
}
.gameboard-square:hover{
    background-color: rgb(74, 209, 164);
    transition: 0.4s ease-in-out background-color;
}

#defense-board{
    transform:
        perspective(750px)
        translate3d(0px, 0px, -250px)
        rotateX(27deg)
        scale(0.9, 0.9);
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}

#attack-board{
    transform:
        perspective(750px)
        translate3d(0px, 0px, -250px)
        rotateX(-27deg)
        scale(0.9, 0.9);
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}

#greyout{
    display: grid;
    background-color: gray;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 80%;
    z-index: 2;
}

#endgame-modal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    background-color: rgb(48, 44, 44);
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 50vw;
    z-index: 3;
    top: 35%;
    left: 25%;
    border-radius: 5%;
    color: #e6e6e6;
}

#modal-text{
    display: grid;
    justify-content: center;
    justify-items: center;
    font-size: xx-large;
}

#modal-button-div{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    height: 80%;
    width: 40%;
    background-color: gray;
    border-radius: 8px;
    transition: font-size 0.3s ease-in, scaleY 0.3s ease-in, scaleX 0.3s ease-in;
}
#modal-button-div:hover{
    transform: scaleY(1.05);
    transform: scaleX(1.05);
    font-size: large;
}

#greyout-start{
    display: grid;
    grid-template-rows: 10vh 90vh;
    background-color: gray;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 80%;
    z-index: 2;
}

#start-screen-title{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #e6e6e6;
    z-index: 3;
}

#start-screen-body{
    display: grid;
    grid-template-columns: 1fr;
    height: 90vh;
}

#ship-yard{
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

#turn-ship-div{
    display: grid;
    justify-content: center;
    align-items: center;
}

#turn-button{
    display: grid;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    z-index: 3;
}

#turn-button-text{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-style: solid;
    border-color: #e6e6e6;
    border-radius: 8px;
    border-width: 1px;
    padding: 24px;
    transition: font-size 0.3s ease-out, scaleY 0.3s ease-out, scaleX 0.3s ease-out;
}
#turn-button-text:hover{
    transform: scaleY(1.05);
    transform: scaleX(1.05);
    font-size: xx-large;
}

#start-screen-defense-board{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 3;
}